.button {
    font-weight: 700;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    img {
        margin-left: 10px;
        margin-bottom: 4px;
    }
}

.button-primary {
    &:hover {
        background-color: $primary;
    }
}

.button-secondary {
    color: $tundora;

    &:hover {
        background-color: $secondary;
    }
}

// Dropdowns
.dropdown-guest {
    border: 1px solid rgb(221, 220, 220);
    .btn-guest {
        width: 100%;
        text-align: left;
        &:after {
            position: absolute;
            right: 10px;
            top: 18px;
        }
        &:focus {
            box-shadow: none;
            outline: 2px solid #007bff;
        }
    }
    .btn-guest-menu {
        width: 100%;
        position: relative;
        .dropdown-item-text {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            margin-bottom: 5px;
            span {
                color: $tundora;
                font-weight: 500;
            }
            .buttons {
                display: flex;
                justify-content: space-between;
                align-self: start;
                span {
                    margin-left: 20px;
                    margin-right: 20px;
                    align-self: center;
                }
                button {
                    color: $tundora;
                    border-radius: 50%;
                    border: 1px solid $teal;
                    background-color: white;
                    min-width: 35px;
                    min-height: 32px;   
                }
            }
        }
        
        .close-btn {
            margin-left: 75%;
            .link-close {
                color: $teal;
                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
    
}

// 2. Sayfadaki filtre buttonları
.button-filter {
    color: #222222;
    border-radius: 30px;
    border: 1px solid rgb(176, 176, 176);
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    &:hover {
        color: #222222;
        border-color: #222222;
        text-decoration: none;
    }
}

.button-pagination {
    border: 1.5px solid $teal;
    border-radius: 50%;
    color: $teal;
    padding: 5px 8px;
    &.active {
        background-color: $teal;
        span {
            color: white;
            padding: 4px 4px;
        }
    }
    &.big {
        padding: 15px 20px;
    }
}