#navigation-links {
    // I had to use !important because it didn't disappear otherwise
    display: none !important;
    position: sticky;
    left: 0;
    top: 0;
    background-color: white;
    height: 60px;
    z-index: 3;
    border-bottom: 1px solid rgb(235, 235, 235);
    display: flex;
    .scroll-spy-nav {
        width: 70%;
        margin-left: -10px;
        li {
            margin-top: 5px;
            margin-right: -5px;
            margin-left: -5px;
            a {
                color: $teal;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .navigation-buttons {
        width: 40%;
        margin-right: -10px;
        .upload-link, .heart-link {
            margin-top: -35px;
            a {
                color: $tundora;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .upload-link {
            margin-right: 10px;
            margin-left: -8px;
        }
        svg {
            width: 20px;
            margin-right: 3px;
        }
    }
}

.container-banner {
    position: relative;
    overflow: hidden;
    max-height: 450px;
    .slick-container-banner {
        img {
            width: 100%;
            max-height: 250px;
        }
    }
    .slick-dots {
        position: absolute;
        bottom: 2%;
        left: 50%;
        margin-left: -90px;
    }

    .upload, .heart, .show-photos {
        position: absolute;
        z-index: 2;
        svg {
            width: 25px;
        }
    }
    .heart {
        right: 20px;
        top: 30px;
    }
    .upload {
        right: 60px;
        top: 25px;
    }
}

.container-banner-mobile {
    @include media-breakpoint-up(md) {
        display: none;
    }
}

.container-banner-desktop {
    border-bottom: 2px solid black;
    .zoom {
        border: 2px solid black;
        img {
            width: 100%;
            height: 460px;
            transition: transform .5s ease;
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .right {
        overflow: hidden;
        img {
            width: 100%;
            height: 220px;
        }
    }

    .upload, .heart, .show-photos {
        display: flex;
        border-radius: 5px;
        padding: 5px 14px;
        background-color: white;
        text-decoration: none;
        svg {
            width: 15px;
        }
        span {
            color: $tundora;
            margin-left: 10px;
            font-size: 14px;
        }
    }
    .upload {
        right: 120px;
    }
    .heart {
        right: 20px;
        top: 25px;
    }
    .show-photos {
        bottom: 20px;
        right: 20px;
        span {
            margin-left: -1px;
        }
    }

    @include media-breakpoint-between(xs, sm) {
        display: none;
    }
}

.main-rooms {
    display: flex;
    flex-direction: column;
}

.row-custom {
    display: flex;
    i {
        font-size: 14px;
        margin-right: 20px;
        margin-top: 5px;
    }
    div {
        p {
            font-weight: 400;
            color: $tundora;
        }
    }
}

.paragraph-info {
    font-weight: 400;
    color: $tundora;
    margin-top: 40px;
}

.show, .hide {
    a {
        font-size: 1.1rem;
    }
}

.price {
    color: $tundora;
    font-weight: 900;
    font-size: 30px;
}

small {
    font-weight: 500;
    font-size: 14px;
}

.section-overview {
    h5 {
        font-size: 1rem;
    }
    .row-profile-pic {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        a {
            color: $tundora;
            @include media-breakpoint-up(md) {
                margin-top: -40px;
            }
        }

        .profile-pic-container {
            width: 48px;
            position: relative;
            @include media-breakpoint-up(md) {
                bottom: 30px;
                width: 64px;
            } 
            img {
                width: 100%;
                border-radius: 100px;
            }
            div {
                width: 15px;
                position: absolute;
                top: 25px;
                left: 35px;
                @include media-breakpoint-up(md) {
                    width: 20px;
                    top: 40px;
                    left: 45px;
                }
            }
            .pp-name {
                position: absolute;
                top: 60px;
                right: 0px;
                display: none;
                @include media-breakpoint-up(md) {
                    top: 70px;
                    right: 10px;
                    display: block;
                }
            }
        }

        @include media-breakpoint-up(md) {
            margin-bottom: -20px;
        }
    }

    .container-amenities {
        img {
            margin-right: 5px;
            margin-top: -15px;
        }

        p {
            color: $boulder;
            font-size: 18px;
        }
    }

    .bedroom-container {
        width: 200px;
        height: 145px;
        border: 1px solid rgb(235, 235, 235);
        border-radius: 4px;
        .bedroom {
            padding: 20px;
            img {
                margin-bottom: 20px;
            }
            h5 {
                font-weight: 00;
            }
        }
    }

    .calender {
        height: 300px;
        background-color: black;
    }
}

.section-reviews {
    .container-rating {
        .rating {
            font-weight: 800;
            margin-right: 10px;
            font-size: 18px;
        }

        .vertical-line {
            border-right: 1px solid #EBEBEB;
            margin-right: 20px;
            font-weight: 400;
        }

        .review {
            color: $tundora;
            font-size: 18px;
        }
    }

    .search-bar-review {
        position: relative;
        max-width: 340px;
        height: 30px;
        .search-reviews {
            color: $tundora;
            font-size: 18px;
            &::placeholder {
                color: $tundora;
                font-size: 18px;
            }
        }
        .search-icon {
            position: absolute;
            top: 12px;
            right: 15px;
        }
    }
    .comment {
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        .comment-pp-row {
            position: relative;
            margin-bottom: 20px;
            >div {
                width: 48px;
                margin-top: auto;
                img {
                    width: 100%;
                    border-radius: 100px;
                    margin-top: 10px;
                }
            }
            
            .comment-name, .comment-date {
                position: absolute;
                top: 10px;
                left: 80px;
                color: $tundora;
            }
            .comment-date {
                top: 40px;
                color: $boulder;
            }
        }
    }
    
    .pagination {
        width: 250px;
        background-color: transparent;
        position: relative;
        a {
            color: transparent;
        }
        .button-pagination {
            &.active {
                display: none;
            }
        }
        .button-pagination-container {
            position: absolute;
            left: 0;
        }
        @include media-breakpoint-up(md)  {
            display: flex;
            justify-content: space-between;
            a {
                color: $teal;
            }
            .button-pagination {
                &.active {
                    display: block;
                }
            }
            .button-pagination-container {
                left: 220px;
                top: 5px;
                margin-left: 60px;
            }
        }
    }
    
}

.section-host {
    .container-host-pp {
        img {
            width: 64px;
            height: 64px;
            border-radius: 100px;
        }
    }

    .comment-host {
        display: block;
        display: -webkit-box;
        max-width: 520px;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.43rem;
    }
}

.section-policies {
    .container-house-rules {
        i {
            font-size: 24px;
            margin-right: 20px;
        }
    }
}

@include media-breakpoint-up(md) {
    .section-overview {
        .hide-element {
            visibility: hidden;
        }
    }
}

@include media-breakpoint-up(xl) {
    .main-rooms {
        flex-direction: row;
    }
}