body {
    font-family: Roboto, 'sans-serif';
}

p {
    color: rgb(72, 72, 72);
}

.container-section, .section-animals {
    margin-bottom: 3rem;
    @include media-breakpoint-up(sm) {
        margin-bottom: 5.93rem;
    }
}

.title {
    font-size: 1.6rem;
}

.tundora {
    color: $tundora;
    font-weight: 600;
}

.pink {
    color: $cannon-pink;
}

.boulder {
    color: $boulder;
}

textarea:focus, input:focus, input[type]:focus {   
    border-color: $teal;
    outline: 0 none;
}